<!-- This is the template for 1 review. Any time you want to display a review, use this template. -->
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/review.css" />
</head>

<body>
<div class="review">
  <div class="main_text">
    <span class="user">Anonymous</span> wrote:
    <blockquote>
      <p>Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc. Cum quam euismod sem,
      semper ut potenti pellentesque quisque.</p>
      <p>In eget sapien sed, sit duis vestibulum ultricies, placerat morbi amet vel, nullam in in lorem vel. In
      molestie elit dui dictum, praese.</p>
    </blockquote>
  </div>
  <div class="ratings">
    <div class="overall_rating">Overall: 4.0</div>
    <div class="other_rating"> Benefits: 4.0</div>
    <div class="other_rating">Environment: 4.0</div>
    <div class="other_rating">Growth: 4.0</div>
    <div class="other_rating">Location: 4.0</div>
    <div class="other_rating">Peers: 4.0</div>
    <div class="other_rating">Salary: 4.0</div>
  </div>
</div>
</body>
</html>
