.review {
    float: left;
}

.main_text {
    float: left;
    border: 1px solid black;
    width: 750px;
    margin-top: 12px;
}

.user {
    font-size: 1.5em;
}

blockquote {
    border: 1px solid red;
}

.ratings {
    border: 1px solid blue;
    width: 200px;
    float: right;
}

.overall_rating {
    float: right;
    font-size: 1.5em;
}

.other_rating {
    float: right;
    clear: right;
}